.spacer {
  background-color: #faecd5;
  padding: 86px 46px 122px;
}

.content-container {
  max-width: 1342px;
  margin: 0 auto;
}

.challenge-main-info {
  padding: 17px 23px;
  border: 1px solid #33240a;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 1px #33240a70;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.message {
  display: inline-block;
  margin-top: 12px;
}
.errorMessage {
  color: red;
}

@media screen and (max-width: 768px) {
  .challenge-main-info {
    flex-wrap: wrap-reverse;
  }
}

.challenge-main-info-text {
  width: 100%;
}

.challenge-main-info-image img {
  width: 100%;
  border-radius: 8px;
  overflow: clip;
  margin-bottom: 18px;
}

.challenge-main-info button {
  display: block;
  width: 300px;
  padding: 9px;
  margin: 9px 0px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  color: #faecd5;
  background-color: #62853d;
  border: none;
  outline: 2px solid #62853d;
  transition: all 0.2s ease;
  font-size: 14px;
}

.challenge-main-info button:hover {
  background-color: #1c4930;
}

.progressSection {
  margin-top: 30px;
}

.todoProgress {
  display: flex;
  justify-content: left;
  gap: 50px;
}

.progressRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progressBarWrapper {
  flex: 1;
  height: 10px;
  background-color: #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progressBar {
  height: 100%;
  background-color: #2f6f4e;
  transition: width 0.5s ease;
}

.progressPercent {
  margin-top: 10px;
  font-weight: 500;
}

.dayTag {
  margin: 0;
  display: inline-block;
  background-color: #2f6f4e;
  color: #e5e5e5;
  padding: 0px 10px;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 500;
  white-space: nowrap;
}


.dailyProgressSection {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
}

.progressCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;

    background: conic-gradient(
      #2f6f4e var(--progress),
      #e5e5e5 0%
    );

  transition: --progress 0.5s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.progressCircle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}

.progressCircleLabel {
  position: relative;
  font-weight: 600;
  color: #2f6f4e;
  font-size: 0.8rem;
}


.uniqueProgressSection {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}

.uniqueDots {
  display: flex;
  gap: 6px;
}

.dotFilled,
.dotEmpty {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dotFilled {
  background-color: #2f6f4e;
  transition: background-color 0.5s ease;
}

.dotEmpty {
  background-color: #e5e5e5;
}

.uniqueCounter {
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
}


.statsRow {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  align-items: left;
  justify-content: space-between;
}

.stats {
  display: flex;
  align-items: center;
  gap: 12px;
} 

.statsRow div {
  text-align: left;
}

.challenge-todos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  padding-top: 24px;
}

.challenge-todos div {
  width: 100%;
  padding: 17px 23px;
  border: 1px solid #33240a;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 1px #33240a70;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .challenge-todos {
    flex-wrap: wrap;
  }
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.todo-item {
  margin-bottom: 8px;
}

.todo-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.todo-text.checked {
  text-decoration: line-through;
  color: #999;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #1c4930;
  background-color: white;
  accent-color: #1c4930;
  cursor: pointer;
  position: relative;
}

.duration {
  display: flex;
  height: 4rem;
  align-items: center;
}

h1 {
  color: #1c4930;
  font-size: 48px;
  line-height: 1;
  font-family: Katibeh;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  color: #1c4930;
  font-size: 28px;
  line-height: 1.2;
  font-family: Katibeh;
  font-weight: 400;
  margin-block-start: 0;
}

.subheading {
  font-family: Katibeh;
  font-size: 24px;
  margin-bottom: 16px;
}

p {
  line-height: 28px;
}
